/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 60px;
}

/* Headings */
h1 {
  color: #0c0202;
  margin-top: 0; /* Adjusted to ensure it's at the top */
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2.5em; /* Adjusted for visibility */
  text-align: center; /* Center align the title */
}

h2 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: larger;
  font-weight: 600;
  text-align: center; /* Center align the title */
}

h3, h4, h5, h6 {
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}
